@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: #444444;
  font-weight: 300;
  line-height: 1.6;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.categories {
  margin-top: 4rem;
}
.categories__headers {
  margin-bottom: 3rem;
  text-align: center;
  color: #000080;
}
.categories__headers--h2 {
  font-size: 2.8rem;
}
.categories__headers--h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
.categories__container {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.categories__container--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  justify-content: space-between;
  transition: all 0.2s;
}
.categories__container--card:hover {
  transform: translate(-1rem, -1rem);
}
.categories__container--card--text {
  margin-top: -5rem;
  color: #000080;
  padding: 3rem 6rem;
  border-radius: 2rem;
  background-color: #FFFFFF;
}

.topNavbar {
  background-color: #000080;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  position: sticky;
}
.topNavbar__socials {
  display: flex;
  list-style: none;
}
.topNavbar__socials :not(:last-child) {
  margin-right: 10px;
}
.topNavbar__socials--icon {
  fill: #FFFFFF;
  mix-blend-mode: normal;
  width: 1.7rem;
  height: 1.7rem;
  transition: all 0.3s;
}
.topNavbar__socials--icon:hover {
  fill: #FFB231;
}
.topNavbar__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.topNavbar__link:hover {
  color: #FFB231;
}
.topNavbar__invisible {
  opacity: 0;
  cursor: default;
}

.botNavbar {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  max-height: 10rem;
  overflow-y: visible;
  max-width: 100%;
  align-items: center;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
  position: sticky;
}
.botNavbar > :not(:last-child) {
  margin-right: 10px;
}
.botNavbar__logo {
  max-height: 6rem;
}
.botNavbar__navigation {
  display: flex;
  justify-content: space-between;
}
.botNavbar__navigation > :not(:nth-last-child(-n+3)) {
  margin-left: -5rem;
}
.botNavbar__navigation > :nth-child(3) {
  margin-left: -6rem;
}
.botNavbar__navigation > :nth-last-child(3) {
  margin-left: -1rem;
}
.botNavbar__navigation--item {
  cursor: default;
  max-height: 10px;
  overflow-y: visible;
}
.botNavbar__navigation--item--svg {
  color: #FFB231;
  width: 1.5rem;
}
.botNavbar__navigation--item--text {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000080;
  max-width: fit-content;
  display: flex;
  text-wrap: nowrap;
}
.botNavbar__navigation--item--text--container {
  display: flex;
}
.botNavbar__navigation--item--text--link {
  text-decoration: none;
  color: #000080;
  font-weight: 600;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.botNavbar__navigation--item--text--wrapper {
  text-align: center;
}
.botNavbar__navigation__dropdown {
  transition: all 0.3s;
  margin-top: 2rem;
  background-color: #FFFFFF;
}
.botNavbar__navigation__dropdown--active {
  opacity: 100%;
  visibility: visible;
  transform: translate(0);
}
.botNavbar__navigation__dropdown--inactive {
  opacity: 0%;
  visibility: hidden;
  transition: 500ms ease;
}
.botNavbar__navigation__dropdown--item {
  list-style: none;
  transition: all 0.3s;
  padding: 1rem;
}
.botNavbar__navigation__dropdown--item:hover {
  background-color: #FFB231;
}
.botNavbar__navigation__dropdown--item--link {
  text-decoration: none;
  list-style: none;
  color: #000080;
  font-size: 1.2rem;
  font-weight: 500;
}
.botNavbar__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}
.botNavbar__container--phoneBtn {
  background-color: #FFB231;
  border-radius: 4rem;
  color: #000080;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 2rem 3rem;
  text-decoration: none;
  transition: all 0.3s;
}
.botNavbar__container--phoneBtn:hover {
  background-color: #000080;
  color: #FFB231;
  box-shadow: 0 18px 24px 5px rgba(0, 0, 128, 0.3);
}
.botNavbar__container--phoneBtn:hover > .botNavbar__container--phoneBtn--svg {
  fill: #FFB231;
}
.botNavbar__container--phoneBtn--svg {
  width: 1rem;
  fill: #000080;
}
.botNavbar__container--svg {
  stroke: #000080;
  width: 3rem;
  transition: all 0.3s;
}
.botNavbar__container--svg:hover {
  stroke: #FFB231;
  filter: drop-shadow(0 1rem 0.3rem rgba(255, 178, 49, 0.3));
}

/*# sourceMappingURL=style.css.map */
