@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: #272727;
  font-weight: 300;
  line-height: 1.6;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.categories {
  margin-top: 4rem;
}
.categories__headers {
  margin-bottom: 3rem;
  text-align: center;
  color: #000080;
}
.categories__headers--h2 {
  font-size: 2.8rem;
}
.categories__headers--h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
.categories__container {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.categories__container--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  justify-content: space-between;
  transition: all 0.2s;
}
.categories__container--card:hover {
  transform: translate(-1rem, -1rem);
}
.categories__container--card--text {
  margin-top: -3rem;
  color: #000080;
  padding: 2rem 0 2rem 0;
  width: 75%;
  text-align: center;
  white-space: nowrap;
  border-radius: 2rem;
  background-color: #eee;
}

.about {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-image: url("../assets/homePage/header/About-h.png");
  color: #FFFFFF;
  width: 75vw;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 4rem;
}
.about__text {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 7rem;
  width: 50%;
  border-radius: 1rem;
  backdrop-filter: blur(0.6rem);
}
.about__text__h4 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.about__text__h4--line {
  width: 6rem;
}
.about__text__h2 {
  font-weight: 800;
  font-size: 2.4rem;
}
.about__text__description {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.about__text__container :not(:last-child) {
  margin-right: 2rem;
}
.about__text__container--btn {
  text-decoration: none;
  border-radius: 3rem;
  padding: 1.5rem 4.2rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.about__text__container--yellowBtn {
  color: #272727;
  background-color: #FFB231;
  transition: all 0.3s;
}
.about__text__container--yellowBtn:hover {
  box-shadow: 0 18px 24px 5px rgba(255, 178, 49, 0.3);
}
.about__text__container--whiteBtn {
  color: #FFFFFF;
  border: 0.3rem solid #FFFFFF;
  transition: all 0.3s;
}
.about__text__container--whiteBtn:hover {
  box-shadow: 0 18px 24px 5px rgba(255, 255, 255, 0.3);
}

.homeBanner {
  background-color: #000080;
  color: #FFFFFF;
  padding: 4rem;
  width: 75vw;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 5rem;
}
.homeBanner__h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2.8rem;
}
.homeBanner__container {
  display: flex;
  justify-content: space-evenly;
}
.homeBanner__container--item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.homeBanner__container--item--img {
  width: 5rem;
}
.homeBanner__container--item--text {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.feedback {
  color: #000080;
  text-align: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(238, 238, 238, 0.2);
}
.feedback__header {
  font-size: 2.4rem;
  font-weight: 800;
}
.feedback__carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
}
.feedback__carousel--btn {
  width: 4rem;
  color: #FFB231;
  height: 4rem;
  border: 3px solid #FFB231;
  border-radius: 50rem;
  cursor: pointer;
  background-color: transparent;
}
.feedback__carousel--btn--svg:focus {
  outline: none;
}
.feedback__carousel--list {
  list-style: none;
  background-color: #FFFFFF;
  padding: 2rem;
}
.feedback__carousel--slide {
  width: 50vw;
  height: 10rem;
}
.feedback__carousel--slide--text {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 3rem 0 3rem 0;
  height: 30%;
}
.feedback__carousel--slide--container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  text-align: start;
}
.feedback__carousel--slide--container--img {
  height: 4rem;
}
.feedback__carousel--slide--container--buyer {
  font-style: italic;
  font-weight: 400;
}
.feedback__carousel--slide--container--buyer--name {
  font-weight: 700;
  font-size: 1.2rem;
}
.feedback__currentSlide {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 5rem;
}
.feedback__currentSlide--hr {
  width: 25px;
  height: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: #808080;
  border-radius: 1rem;
}
.feedback__currentSlide--hr--active {
  color: #FFB231;
  background-color: #FFB231;
}

.topNavbar {
  background-color: #000080;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  position: sticky;
}
.topNavbar__socials {
  display: flex;
  list-style: none;
}
.topNavbar__socials :not(:last-child) {
  margin-right: 10px;
}
.topNavbar__socials--icon {
  fill: #FFFFFF;
  mix-blend-mode: normal;
  width: 1.7rem;
  height: 1.7rem;
  transition: all 0.3s;
}
.topNavbar__socials--icon:hover {
  fill: #FFB231;
}
.topNavbar__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.topNavbar__link:hover {
  color: #FFB231;
}
.topNavbar__invisible {
  opacity: 0;
  cursor: default;
}

.botNavbar {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  max-height: 10rem;
  overflow-y: visible;
  max-width: 100%;
  align-items: center;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
  position: sticky;
}
.botNavbar > :not(:last-child) {
  margin-right: 10px;
}
.botNavbar__logo {
  max-height: 6rem;
}
.botNavbar__navigation {
  display: flex;
  justify-content: space-between;
}
.botNavbar__navigation > :not(:nth-last-child(-n+3)) {
  margin-left: -5rem;
}
.botNavbar__navigation > :nth-child(3) {
  margin-left: -6rem;
}
.botNavbar__navigation > :nth-last-child(3) {
  margin-left: -1rem;
}
.botNavbar__navigation--item {
  cursor: default;
  max-height: 10px;
  overflow-y: visible;
}
.botNavbar__navigation--item--svg {
  color: #FFB231;
  width: 1.5rem;
}
.botNavbar__navigation--item--text {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000080;
  max-width: fit-content;
  display: flex;
  text-wrap: nowrap;
}
.botNavbar__navigation--item--text--container {
  display: flex;
}
.botNavbar__navigation--item--text--link {
  text-decoration: none;
  color: #000080;
  font-weight: 600;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.botNavbar__navigation--item--text--wrapper {
  text-align: center;
}
.botNavbar__navigation__dropdown {
  transition: all 0.3s;
  margin-top: 2rem;
  background-color: #FFFFFF;
}
.botNavbar__navigation__dropdown--active {
  opacity: 100%;
  visibility: visible;
  transform: translate(0);
}
.botNavbar__navigation__dropdown--inactive {
  opacity: 0%;
  visibility: hidden;
  transition: 500ms ease;
}
.botNavbar__navigation__dropdown--item {
  list-style: none;
  transition: all 0.3s;
  padding: 1rem;
}
.botNavbar__navigation__dropdown--item:hover {
  background-color: #FFB231;
}
.botNavbar__navigation__dropdown--item--link {
  text-decoration: none;
  list-style: none;
  color: #000080;
  font-size: 1.2rem;
  font-weight: 500;
}
.botNavbar__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}
.botNavbar__container--phoneBtn {
  background-color: #FFB231;
  border-radius: 4rem;
  color: #000080;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 2rem 3rem;
  text-decoration: none;
  transition: all 0.3s;
}
.botNavbar__container--phoneBtn:hover {
  background-color: #000080;
  color: #FFB231;
  box-shadow: 0 18px 24px 5px rgba(0, 0, 128, 0.3);
}
.botNavbar__container--phoneBtn:hover > .botNavbar__container--phoneBtn--svg {
  fill: #FFB231;
}
.botNavbar__container--phoneBtn--svg {
  width: 1rem;
  fill: #000080;
}
.botNavbar__container--svg {
  stroke: #000080;
  width: 3rem;
  transition: all 0.3s;
}
.botNavbar__container--svg:hover {
  stroke: #FFB231;
  filter: drop-shadow(0 1rem 0.3rem rgba(255, 178, 49, 0.3));
}

/*# sourceMappingURL=style.css.map */
