// COLOR VARIABLES

$color-primary: #000080;
$color-secondary: #FFB231;
$color-dark: #272727;
$color-white: #FFFFFF;
$color-offWhite: #eee;
$color-grey: #808080;


// FONT VARIABLES
$font-primary: 'Montserrat', sans-serif;