// importing abstracts
@import "./abstracts/mixins";
@import "./abstracts/variables";

// importing bases
@import "./base/base";

// importing components
  // HomePage
  @import "./components/HomePage/categories";
  @import "./components/HomePage/about";
  @import "./components/HomePage/homeBanner";
  @import "./components/HomePage/feedback";

// importing layouts
@import "./layout/topNavbar";
@import "./layout/botNavbar";