.homeBanner {
  background-color: $color-primary;
  color: $color-white;
  padding: 4rem;
  width: 75vw;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 5rem;

  &__h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    
    &--item {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      &--img {
        width: 5rem;
      }
      
      &--text {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }
}